* {

}
body {
    background: lightgray;
}

div {
    position: absolute;
}
#a1 {
    top: 0;
    left: 0;
    width: 500px;
    height: 500px;
    background: red;
    z-index: 20;
}
#a2 {
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    background: yellow;
    z-index: 30;
}
#b1 {
    top: 200px;
    left: 200px;
    width: 500px;
    height: 500px;
    background: green;
    z-index: 10;
}
#b2 {
    top: 100px;
    left: 100px;
    width: 300px;
    height: 300px;
    background: blue;
    z-index: 50;
}
#lightbox {
    background: rgba(0,0,0, 0.5);
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

main {
    margin: 50px auto 0 auto;
    width: 1200px;
    height: 2800px;
    background: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d); 
    position: relative;
}
.kw {
    width: 200px;
    height: 200px;
    position: absolute;
}
#k1 {
    background: lightblue;
    top: 0;
    left: 0;
    z-index: 4;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
#k1:hover {
    background: red;
    width: 100px;
    height: 100px;
}
#k2 {
    background: lightskyblue;
    top: 50px;
    left: 50px;
    z-index: 3;
    /* display: none; */
    /* visibility: hidden; */
    /* opacity: 0; */
}
#k3 {
    background: lightsteelblue;
    top: 100px;
    left: 100px;
    z-index: 2;
}
#k4 {
    background: #fff;
    top: 150px;
    left: 150px;
    z-index: 1;
}

#cookies {
    left: 0;
    width: 100px;
    height: 200px;
    background: rgba(0,0,0,0.5);
    top: 50px;
    /* element nie będzie się przewijał ze stroną */
    position: fixed;
    /* position: sticky; */
}