body {
    background: lightblue;
}

#pudelko {
    width: 800px;
    height: 600px;
    margin: 50px auto;
    /* !important własnosc nadrzedna, przy braku dostepu do styli, ktorymi formatuja  */
    /* background-color:  */
}
.lemonka {
    background: lemonchiffon;
}
.czerwony {
    background: red;
}
.hidden {
    display: none;
}